<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cuteblog.bbs4.mapper.MemberMapper">
    <insert id="join">
        insert into member values(
            MEMBER_SEQ.nextval,
            #{id},
            #{password},
            #{name},
            '일반',
            sysdate
        )
    </insert>

    <select id="login" resultType="com.cuteblog.bbs4.domain.Member">
        select * from member
        where id = #{id}
        and password = #{password}
    </select>

    <select id="memberList" resultType="com.cuteblog.bbs4.domain.Member">
        select * from member
    </select>


    <delete id="memberDelete">
        delete from member
        where mno = #{mno}
    </delete>
</mapper>